{
  plugins: [
    "react",
    "react-native"
  ],
  parserOptions: {
    ecmaVersion: 2018,
    sourceType: "module",
    ecmaFeatures: {
      jsx: true
    },
  },
  env: {
    react-native/react-native: true
  },
  extends: ["plugin:react-native/all"]
}
