.detail.hiking {
  .stats {
    padding: 10px;
    font-size: 0.8em;
  }
  .detail-links, .stats {
    display: flex;
    justify-content: space-between;
  }
  .detail-links {
    margin-bottom: 10px;
  }
}
