.map-view {
  height: 100%;
  .btn-group {
    @extend .button-overlay;
    top: $padding;
    .btn {
      width: 50%;
    }
  }
  .finding-text {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: $padding;
  }
  .mapboxgl-map {
    height: 100%;
    .mapboxgl-ctrl-top-right {
      top: 46px;
    }
    .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
      bottom: 38px + $padding;
    }
  }
}
