$header-height: 50px;

.app {
  height: 100%;
  width: 100%;
  .btn:focus {
    box-shadow: none;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $header-height;
    background-color: #EE6417;
    a {
      color: white;
      text-decoration: none;
      margin-left: 10px;
      font-size: 1.4em;
    }
  }
  .main {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
