.home {
    background-image: url('./images/Delicate_arch_sunset.jpg');
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    > * {
        align-self: center;
    }
    .tagline, .buttons {
        flex: 2;
    }
    .tagline {
        h1 {
            font-size: 2.7em;
        }
        text-align: center;
        .firstline {

        }
        .secondline {

        }
    }
}
