$image-size: 90px;
$border-radius: 3px;
$padding: 5px;

.yelp-popup-container {
  border-radius: $border-radius;
  margin: -10px -10px -15px;

  .yelp-popup {
    width: 250px;
    height: $image-size;
    >img {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      width: $image-size;
      height: $image-size;
    }

    .details {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: $image-size;
      padding: $padding;

      .rating-logo-container {
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .star-rating {
          margin-left: $padding;
          width: 84px;
          height: 14px;
          background-size: 84px 14px;
          &.stars_0 {
            background-image: url('images/yelp-ratings/small_0@2x.png');
          }
          &.stars_1 {
            background-image: url('images/yelp-ratings/small_1@2x.png');
          }
          &.stars_1_5 {
            background-image: url('images/yelp-ratings/small_1_half@2x.png');
          }
          &.stars_2 {
            background-image: url('images/yelp-ratings/small_2@2x.png');
          }
          &.stars_2_5 {
            background-image: url('images/yelp-ratings/small_2_half@2x.png');
          }
          &.stars_3 {
            background-image: url('images/yelp-ratings/small_3@2x.png');
          }
          &.stars_3_5 {
            background-image: url('images/yelp-ratings/small_3_half@2x.png');
          }
          &.stars_4 {
            background-image: url('images/yelp-ratings/small_4@2x.png');
          }
          &.stars_4_5 {
            background-image: url('images/yelp-ratings/small_4_half@2x.png');
          }
          &.stars_5 {
            background-image: url('images/yelp-ratings/small_5@2x.png');
          }
        }

        .logo {
          margin-top: -6px;
          width: 64px;
          height: 41px;
        }
      }

      .review-count {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.mapboxgl-popup-close-button {
  z-index: 1;
}
