html, body, #root, .app {
  height: 100%;
  width: 100%;
}
.app {
  .header {
    background-color: #B24328;
    height: 50px;
    padding: 10px;
  }
  .header {
    a {
      color: white;
      text-decoration: none;
    }
    h1 {
      margin: 0;
    }
  }
}
